.container
    max-width: 1440px
    margin: 0 auto
    padding: 0

.header
    width: 1170px
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center

ul.menu
    display: flex
    justify-content: center
    gap: 42px

.menu li
    list-style-type: none

.slide-header
    background-image: url(../images/bg-image.png)
    background-repeat: no-repeat
    height: 600px

.article-left-img
    display: flex

.article-right-img
    display: flex

.latest-posts
    display: flex
    justify-content: space-between

.posts
    display: flex